package main

templ Layout(contents string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Testing Goldmark</title>
			<link rel="stylesheet" href="./github-markdown-dark.css"/>
		</head>
		<body class="markdown-body">
			@templ.Raw(contents)
		</body>
	</html>
}
