table {
    width: auto;
    /* Table fits content width */
    min-width: fit-content;
    margin: auto;
    /* Centers the table */
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    border: solid, slategray;
    padding: 1rem;
    /* Left-aligns table content */
}

td a {
    text-decoration: none;
}